.tag {
  font-size: 14px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  padding: 5px 10px;
  text-wrap: nowrap;
  font-weight: bold;
  min-width: 115px;
  @media screen and (max-width: 600px) {
    font-size: 10px;
    min-width: 85px;
    height: 18px;
    border-radius: 5px;
  }
}
