.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    height: 250px;
  }

  .previous {
    transform: rotate(180deg);
  }
  .navigation-arrow {
    height: 80px;
    @media screen and (max-width: 600px) {
      height: 20px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;

    &--prev {
      left: 10px;
      @media screen and (max-width: 600px) {
        left: 2px;
      }
    }

    &--next {
      right: 10px;
      @media screen and (max-width: 600px) {
        right: 2px;
      }
    }
  }

  &__counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
