.thumbnail {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    height: 255px;
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0;
    max-width: 170px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}
