.thumbnail {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    height: 255px;
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: "";
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(10, 10, 10, 0),
      rgba(4, 4, 4, 0.41),
      rgba(0, 0, 0, 0.8)
    );
  }

  h1 {
    position: absolute;
    z-index: 20;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0;
    max-width: 170px;
  }
}
