.housing {
  h1 {
    color: var(--primary-color);
    font-size: 36px;
    line-height: 1.5em;
    font-weight: 500;
    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }
  h2 {
    font-size: 18px;
  }
  ul {
    list-style-type: none;
  }
  .housing-location {
    font-size: 18px;
    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
  .housing-tags {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .housing-star {
    font-size: 24px;
    padding: 0 5px;
    color: var(--primary-color);
    &.grey {
      color: #e3e3e3;
    }
  }
  .housing-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
    .housing-info-two {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media screen and (max-width: 600px) {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .housing-host {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    .housing-host-name {
      color: var(--primary-color);
      font-size: 18px;
      width: min-content;
      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
    .housing-host-picture {
      width: 65x;
      height: 65px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .housing-collapsibles {
    display: flex;
    gap: 75px;
    margin: 25px 0 50px 0;
    @media screen and (max-width: 600px) {
      margin: 15px 0 25px 0;
      flex-direction: column;
      gap: 20px;
    }
  }
}
