.title-image {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: 225px;
    display: block;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(70%);
    &.darker {
      filter: brightness(40%);
    }
    @media screen and (max-width: 600px) {
      height: 110px;
      border-radius: 10px;
    }
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    width: 80%;
    white-space: normal;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-wrap: nowrap;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 24px;
      text-align: left;
      width: 90%;
    }
  }
}
