.thumbnails-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 50px;
  margin: 50px 0;
  border-radius: 25px;
  background-color: #f6f6f6;
  @media screen and (max-width: 600px) {
    margin: 20px 0;
    grid-template-columns: 1fr;
    padding: 0px;
    gap: 20px;
  }
}
