.collapsible {
  width: 80%;
  margin: 0 auto;
  background: #f6f6f673;
  border-radius: 10px 10px 5px 5px;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
  .clickable {
    cursor: pointer;
  }
  h1 {
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    @media screen and (max-width: 600px) {
      font-size: 13px;
      padding: 10px;
    }
  }
  p {
    overflow: hidden;
    will-change: max-height, padding, opacity;
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    max-height: 300px;
    padding: 20px;
    opacity: 1;
    @media screen and (max-width: 600px) {
      font-size: 12px;
      padding: 10px;
    }
  }
  &.hidden p {
    max-height: 0;
    padding: 0 20px;
    opacity: 0;
    @media screen and (max-width: 600px) {
      padding: 0 10px;
    }
  }
  img {
    float: right;
    transition: transform 0.5s ease;
  }
  &.hidden img {
    transform: rotate(-180deg);
  }
}
