header {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
    a {
      font-size: 24px;
      font-weight: 500;
      text-decoration: none;
      color: black;
      &.active {
        text-decoration: underline;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 20px;
    nav ul {
      gap: 25px;
      a {
        font-size: 12px;
      }
    }
  }
}
