header {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  padding: 20px;

  nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
    @media screen and (max-width: 600px) {
      gap: 25px;
    }
    a {
      font-size: 24px;
      font-weight: 500;
      text-decoration: none;
      color: black;
      &.active {
        text-decoration: underline;
      }
      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
  }
}
