footer {
  background-color: black;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 65px 0 30px 0;
  width: 100%;
}
@media screen and (max-width: 600px) {
  footer {
    font-size: 12px;
    gap: 5px;
    span {
      max-width: 125px;
      text-align: center;
    }
  }
}
