.error-404 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1,
  h2 {
    color: var(--primary-color);
    text-align: center;
  }
  h1 {
    font-size: 288px;
    @media screen and (max-width: 600px) {
      font-size: 96px;
    }
  }
  h2 {
    font-size: 36px;
    font-weight: 500;
    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }
  a {
    color: black;
    font-size: 18px;
    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
}
