:root {
  --primary-color: #ff6060;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 143%;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #ffffff;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    main {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 20px 20px 20px;
      width: 100%;
      box-sizing: border-box;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}
