:root {
  --primary-color: #ff6060;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    main {
      max-width: 1240px;
      width: 100%;
      box-sizing: border-box;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      @media screen and (max-width: 600px) {
        padding: 0 20px 20px 20px;
      }
    }
  }
}
